
DirectX12/.vs/DirectX12/v16/.suo
DirectX12/.vs/DirectX12/v16/Browse.VC.db
DirectX12/.vs/DirectX12/v16/Browse.VC.db-shm
DirectX12/.vs/DirectX12/v16/Browse.VC.db-wal
DirectX12/.vs/DirectX12/v16/Browse.VC.opendb
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/1adb7ca3890c0e89/FRAMERESOURCE.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/1bf0453fe59dc7d9/FBXMESH.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/27cc21b8196e937a/WAVES.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/2b03c2c49e6c0c41/D3DAPP.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/3515e233d923f32a/SHADOWMAP.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/3c50238d163e2c12/ASSIMPLOADER.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/491e112becaf73fc/UPLOADBUFFER.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/4a7015ca7e46ac84/QUATERNION.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/4cc28d0a928cb788/CUBERENDERTARGET.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/51499fe3dcaa8ae/DDSTEXTURELOADER.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/57a9dc19d9a4f5d7/IMPORTER.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/64cc5b2e396d1bcf/MODELLOADER.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/690a5b3161f1be79/GRAPHIC.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/6cfeae57832a02fb/GAMETIMER.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/70cdb81255cdbad8/FBXMESH.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/79d0e6a1cd204e2d/SKINNEDDATA.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/89d81f2060a4b6f7/SHADOWMAP.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/8e32255071d54a00/GRAPHICS.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/9478b6604302cdf8/MATHHELPER.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/9c52981af15de60/GRAPHIC.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/9dba68fb6b030b3f/WIN32APP.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/a01080439514dbb2/MODELLOADER.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/ab6093368302f5fd/CAMERA.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/b8d3225ba00dd62/WIN32APP.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/bb837ceda534d08/FRAMERESOURCE.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/bc5543488073da9b/WAVES.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/bca6a9e17a325cda/MATRIX.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/bf702a20c7280afa/DDSTEXTURELOADER.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/bfabcf14a35d7cb0/CAMERA.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/c5a955c1ce7dc650/D3DUTIL.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/c97a903f7ef3c001/DDSTEXTURELOADER.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/cc1a4a5a4e3d02d1/GRAPHICS.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/d01440ca06c43fa9/GRAPHIC.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/d6c1460361e0e5fc/D3DAPP.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/daac6846b10d5945/FRAMERESOURCE.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/dcd1cd783ed95a3f/D3DUTIL.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/e6fcfee3b2a1b1a8/GRAPHIC.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/f5c6f4bd96b651d1/CUBERENDERTARGET.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/f709646e70af280d/GEOMETRYGENERATOR.ipch
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/f964f522e855a8cc/FRAMERESOURCE.ipch
DirectX12/Debug/Camera.obj
DirectX12/Debug/d3dUtil.obj
DirectX12/Debug/DDSTextureLoader.obj
DirectX12/Debug/DirectX12.log
DirectX12/Debug/DirectX12.tlog/CL.command.1.tlog
DirectX12/Debug/DirectX12.tlog/CL.read.1.tlog
DirectX12/Debug/DirectX12.tlog/CL.write.1.tlog
DirectX12/Debug/DirectX12.tlog/DirectX12.lastbuildstate
DirectX12/Debug/DirectX12.tlog/unsuccessfulbuild
DirectX12/Debug/FrameResource.obj
DirectX12/Debug/GameTimer.obj
DirectX12/Debug/GeometryGenerator.obj
DirectX12/Debug/MathHelper.obj
DirectX12/Debug/vc142.idb
DirectX12/Debug/vc142.pdb
DirectX12/Debug/Waves.obj
DirectX12/x64/Debug/Camera.obj
DirectX12/x64/Debug/CubeRenderTarget.obj
DirectX12/x64/Debug/d3dApp.obj
DirectX12/x64/Debug/d3dUtil.obj
DirectX12/x64/Debug/DDSTextureLoader.obj
DirectX12/x64/Debug/DirectX12.exe
DirectX12/x64/Debug/DirectX12.exe.recipe
DirectX12/x64/Debug/DirectX12.ilk
DirectX12/x64/Debug/DirectX12.log
DirectX12/x64/Debug/DirectX12.pdb
DirectX12/x64/Debug/DirectX12.res
DirectX12/x64/Debug/DirectX12.tlog/CL.command.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/CL.read.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/CL.write.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/DirectX12.lastbuildstate
DirectX12/x64/Debug/DirectX12.tlog/fxc.command.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/fxc.read.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/fxc.write.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/link.command.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/link.read.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/link.write.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/rc.command.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/rc.read.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/rc.write.1.tlog
DirectX12/x64/Debug/DirectX12.vcxproj.FileListAbsolute.txt
DirectX12/x64/Debug/FrameResource.obj
DirectX12/x64/Debug/GameTimer.obj
DirectX12/x64/Debug/GeometryGenerator.obj
DirectX12/x64/Debug/Graphic.obj
DirectX12/x64/Debug/Graphics.obj
DirectX12/x64/Debug/graphics.obj.enc
DirectX12/x64/Debug/MathHelper.obj
DirectX12/x64/Debug/Matrix.obj
DirectX12/x64/Debug/ModelLoader.obj
DirectX12/x64/Debug/Quaternion.obj
DirectX12/x64/Debug/RCa01296
DirectX12/x64/Debug/ShadowMap.obj
DirectX12/x64/Debug/SkinnedData.obj
DirectX12/x64/Debug/vc142.idb
DirectX12/x64/Debug/vc142.pdb
DirectX12/x64/Debug/Vector3.obj
DirectX12/x64/Debug/Waves.obj
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/efb1d1e9034077ca/MAIN.ipch
DirectX12/x64/Debug/main.obj
DirectX12/.vs/DirectX12/v16/ipch/AutoPCH/5701e7b35b75c21c/MAIN.ipch
DirectX12\.vs\DirectX12\v16\ipch\AutoPCH\360582301fba4fa8/PSTDINT.ipch
FBX SDK/2020.0.1/lib/vs2017/x64/debug/libfbxsdk-mt.lib
FBX SDK/2020.0.1/lib/vs2017/x64/debug/libfbxsdk-md.lib
